[tool.poetry]
name = "harlequin"
version = "1.1.1"
description = "The DuckDB IDE for Your Terminal."
authors = ["Ted Conbeer <tconbeer@users.noreply.github.com>"]
license = "MIT"
homepage = "https://harlequin.sh"
repository = "https://github.com/tconbeer/harlequin"
readme = "README.md"
packages = [
    { include = "harlequin", from = "src" },
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0.0"
textual = "==0.38.1"
textual-fastdatatable = "==0.1.3"
textual-textarea = "==0.7.3"
click = "^8.1.3"
duckdb = ">=0.8.0"
shandy-sqlfmt = ">=0.19.0"
platformdirs = "^3.10.0"
pyperclip = "^1.8.2"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.1"
textual-dev = "^1.0.1"

[tool.poetry.group.static.dependencies]
black = "^23.3.0"
ruff = ">=0.0.285"
mypy = "^1.2.0"
types-pygments = "^2.16.0.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"
pytest-textual-snapshot = { git = "https://github.com/tconbeer/pytest-textual-snapshot.git", branch = "main" }
# extension tests require earlier version of duckdb.
duckdb = "==0.8.1"

[tool.poetry.scripts]
harlequin = "harlequin.cli:harlequin"

[tool.ruff]
select = ["A", "B", "E", "F", "I"]
target-version = "py38"

[tool.mypy]
python_version = "3.8"
files = [
    "src/harlequin/**/*.py",
    "tests/**/*.py",
]
mypy_path = "src:stubs"

show_column_numbers = true

# show error messages from unrelated files
follow_imports = "normal"

# be strict
disallow_untyped_calls = true
disallow_untyped_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
strict_optional = true

warn_return_any = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true

no_implicit_reexport = true
strict_equality = true

[tool.pytest.ini_options]
markers = [
    "online: requeries internet connection (deselect with '-m \"not online\"')",
]
