[tool.poetry]
name = "harlequin"
version = "0.0.17"
description = "A terminal-based SQL IDE for DuckDB"
authors = ["Ted Conbeer <tconbeer@users.noreply.github.com>"]
license = "MIT"
homepage = "https://harlequin.sh"
repository = "https://github.com/tconbeer/harlequin"
readme = "README.md"
packages = [
    { include = "harlequin", from = "src" },
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.8"
textual = "==0.27.0"
textual-textarea = "==0.2.2"
click = "^8.1.3"
duckdb = ">=0.8.0"
shandy-sqlfmt = ">=0.19.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.1"
textual = {version="*", extras=["dev"]}

[tool.poetry.group.static.dependencies]
black = "^23.3.0"
ruff = ">=0.0.264,<0.0.275"
mypy = "^1.2.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"

[tool.poetry.scripts]
harlequin = "harlequin.cli:harlequin"

[tool.ruff]
select = ["A", "B", "E", "F", "I"]
target-version = "py38"

[tool.mypy]
python_version = "3.8"
files = [
    "src/harlequin/**/*.py",
    "tests/**/*.py",
]

show_column_numbers = true

# show error messages from unrelated files
follow_imports = "normal"

# be strict
disallow_untyped_calls = true
disallow_untyped_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
strict_optional = true

warn_return_any = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true

no_implicit_reexport = true
strict_equality = true