[tool.poetry]
name = "harlequin"
version = "0.0.6"
description = "A Text User Interface for DuckDB"
authors = ["Ted Conbeer <tconbeer@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "harlequin", from = "src" },
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.8"
textual = ">=0.22.3,<0.25.0"
click = "^8.1.3"
duckdb = "^0.7.1"
shandy-sqlfmt = "^0.18.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.1"
textual = {version="*", extras=["dev"]}

[tool.poetry.group.static.dependencies]
black = "^23.3.0"
ruff = ">=0.0.264,<0.0.266"
mypy = "^1.2.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"

[tool.poetry.scripts]
harlequin = "harlequin.cli:harlequin"

[tool.ruff]
select = ["E", "F", "I"]

[tool.mypy]
python_version = "3.11"
files = [
    "src/harlequin/**/*.py"
]

show_column_numbers = true

# show error messages from unrelated files
follow_imports = "normal"

# be strict
disallow_untyped_calls = true
disallow_untyped_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
strict_optional = true

warn_return_any = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true

no_implicit_reexport = true
strict_equality = true