name: "Perform Static Analysis"

on:
  pull_request:
  workflow_dispatch:

# will cancel previous workflows triggered by the same event and for the same ref for PRs or same SHA otherwise
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ contains(github.event_name, 'pull_request') && github.event.pull_request.head.ref || github.sha }}
  cancel-in-progress: true

jobs:
  static:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Check out Repo
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"

      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version-file: ".python-version"

      - name: Install python dependencies
        run: uv sync --locked --group static --group test

      - name: Run analysis
        run: |
          uv run --no-sync ruff format . --diff
          uv run --no-sync ruff check .
          uv run --no-sync mypy --no-incremental
